/ %ul.nav.nav-tabs
/   %li= link_to 'MLB', {:controller => 'pitchers', :action => 'all_pitchers'}
/   %li.active= link_to 'American League', {:controller => 'pitchers', :action => 'al_pitcher'}
/   %li= link_to 'National League', {:controller => 'pitchers', :action => 'nl_pitcher'}
= render :partial => 'layouts/frame'

= render :partial => 'pitcher_list'
