.hero-unit
  %h4=link_to 'American League Pitchers', {:controller => 'pitchers', :action => 'al_pitcher'}
  %h4= link_to 'National League Pitchers', {:controller => 'pitchers', :action => 'nl_pitcher'}
