/ = debug @pitcher
/ = debug @batter.first.favorite
/ = debug @team
-if current_user
  .span10
    %h2 Your favorites


    -if @fav_team.blank? && @fav_pitcher.blank? && @fav_batter.blank?
      %p.lead Please Add Your Favorite Players or Teams
-else
  .span10
    %p.lead Please Sign In
    .btn.btn-inverse= link_to 'Sign in with Facebook', 'auth/facebook'
