= render :partial => 'layouts/frame'
%ul.nav.nav-tabs
  %li= link_to 'Hitting', {:controller => 'team', :action => 'all_hitting'}
  %li.active= link_to 'Pitching', {:controller => 'team', :action => 'all_pitching'}
= render :partial => 'list_team_pitching'
