.span12
  %ul.nav.nav-tabs
    %li= link_to "Team", {controller: :team_favorites, action: :index}
    %li= link_to "Pitcher", {controller: :pitcher_favorites, action: :index}
    %li= link_to "Batter", {controller: :batter_favorites, action: :index}
